
@font-face {
    font-family: Kalpurush;
    src: url(kalpurush.ttf);
}

body{
background: deepskyblue;
}

h1{
	color: #fff;
}

h2{
	color: #fff;
}

.page__background{
	    background-color: transparent;
}

input[type="text"], input[type="password"]{
    height: 35px;
    width: 81%;
	margin: 5px;
	text-align: center;
	font-size: 24px;
    font-family: kalpurush;
    background: #dbf2ff;
    border: 1px solid #27587a;
}

select{
	 height: 35px;
    width: 81%;
	margin: 5px;
	text-align: center;
	font-size: 19px;
    font-family: kalpurush;
    background: #dbf2ff;
    border: 1px solid #27587a;
}

.input-container{
	    text-align: center;
}

.basic_btn{
	    background: #8d2040;
    padding: 9px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 21px;
    display: inline-flex;
}


.cancel_btn{
	background: red;
    padding: 9px;
    color: #fff;
    border: 2px solid #ffc000;
    font-size: 21px;
    display: inline-flex;
}

img.btn_icon{
	    width: 30px;
  padding: 0px 0px 0px 11px;
}

.kalpurush{
	font-family: kalpurush;
}

.blue_btn{
	background: #2683c6;
    padding: 9px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 21px;
	display: inline-flex;
}

.top-nav{ display: block; width: 90%; margin: 10px auto; padding: 3px;}
.shade_box{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41b9ef+0,41b9ef+100 */
     margin: 10px auto;
    padding: 10px;
    width: 80%;
    display: block;
    border-radius: 2px;
    background: #;
    font-size: 14px;
    color: #fff;
    box-shadow: 0px 4px #8db1b1;
    border: 1px solid #8db1b1;
}
}

.shade_box_green{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41b9ef+0,41b9ef+100 */
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    display: block;
    border-radius: 9px;
    background: #92d050;
    font-size: 14px;
    color: #fff;
    box-shadow: 0px 4px #888888;
    border: 1px solid #888888;
}

.menu_btn {
       border: 2px solid #fff;
    background: #4a7a88;
    padding: 4px;
    border-radius: 9px;
    /* width: 90%; */
    /* margin-bottom: 10px; */
    /* display: block; */
    text-align: center;
    margin: auto;
    color: #fff;
    font-size: 1.5em;
    font-weight: 800;
    font-family: kalpurush;
    display: block;
    margin: 8px 11px 5px 20px;
    width: 84%;
}


.width_btn {
    border: 2px solid #fff;
    background: #4a7a88;
    padding: 4px;
    border-radius: 9px;
    /* width: 80%; */
    /* margin-bottom: 10px; */
    /* display: block; */
    text-align: center;
    margin: auto;
    color: #fff;
    font-size: 1.5em;
    font-weight: 800;
    font-family: kalpurush;
    display: block;
    margin: 8px 11px 5px 20px;
    width: 85%;
}

.menu_btn_round{
	 border: 2px solid #fff;
    background: #2683c6;
    padding: 14px;
    border-radius: 35px;
    width: 80%;
    /* margin-bottom: 10px; */
    /* display: block; */
    text-align: center;
    margin: auto;
    color: #fff;
    font-size: 1.5em;
    font-weight: 800;
    font-family: kalpurush;
	  display: block;
}


#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f04a5e;
  color: #fff;
}


#customers td {
	background: #fff;
  color: #000;
}

.btn_top{
	border: 1px solid #ffc000;
    padding: 13px;
    font-size: 19px;
    background: #ffd891;
	    width: 93%;
}

.modal_box{
	display: table;
    z-index: 10001;
    background:#096dc6;
    width: 80%;
    margin: 15px auto;
	border: 2px solid #fff;
	
}

.support_btn{
	padding: 10px;
    text-align: center;
    border: 2px solid #0070c0;
    margin: 15px;
    background: #4a7a88;
    border-radius: 9px;
    color: #fff;
	-webkit-box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.75);
}